.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  padding: 20px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.projects > h1 {
  margin-bottom: 50px;
  width: 200px;
  padding: 10px;
  border-bottom: 6px solid rgba(78, 78, 255, 2);
}

.projects .projects__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  background-color: white;
  text-align: left;
}

.projects__project {
  position: relative;
  display: flex;
  flex-shrink: 1;
  margin-bottom: 30px;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  width: 49%;
  float: left;
  border: 1px solid blue;
  padding: 0px 0px 0px 0px;
  border-radius: 20px;
  max-height: 500px;
  min-width: 280px;
}
.project__project__description {
  padding: 30px 20px;
}

.projects__project__thumbnail {
  position: relative;
  max-height: 320px;
  width: 100%;
}
.projects__project__thumbnail > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.projects__project__thumbnail > .projects__project__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  z-index: 2;
  transition: 0.5s ease;
  background: blueviolet;
  opacity: 0;
}

.projects__project__thumbnail:hover .projects__project__overlay {
  opacity: 0.7;
}

.projects__project__overlayBtns {
  z-index: 3;
}
.projects__project__overlayBtns > a {
  display: inline-block;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  margin-right: 15px;
}
.projects__project__overlayBtns > a:link {
  color: red;
}
.projects__project__overlayBtns > a span {
  background: #ffd43a;
  color: #2d1863;
  height: 50px;
  line-height: 50px;
  padding: 20px;
  width: 50px;
  font-size: 18px;
  border-radius: 30px;
  transition: 300ms;
}

/* @media {
} */
