.about {
  background: black;
  display: flex;
  flex-direction: column;
  height: fit-content;
  color: white;
  padding: 20px 50px;
  justify-content: center;
  text-align: center;
}

.about > h1 {
  margin-bottom: 20px;
  font-size: 36px;
}

.about > p {
  font-size: 24px;
}
