.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 220px;
  margin-bottom: 300px;
  font-family: "courier", "georgia", "palatino";
}
.banner__container {
  text-align: center;
  margin: 0 auto;
  min-width: 300px;
}
.banner__container > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;
  padding: 5px;
  margin-bottom: 20px;
}

.banner__container > h1 {
  font-size: 46px;
  width: fit-content;
  margin-bottom: 10px;
}
.socialMedia__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.socialMedia__links > a {
  display: inline-block;
  font-size: 36px;
  margin-top: 10px;
  color: #000;
  margin-right: 10px;
}
