.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
  margin-bottom: 300px;
  font-family: "courier", "georgia", "palatino";
}
.banner__container {
  text-align: center;
  margin: 0 auto;
}
.banner__container > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;
  padding: 5px;
  margin-bottom: 20px;
}

.banner__container > h1 {
  font-size: 46px;
  margin-bottom: 8px;
}
